.boxAnimation {
  padding-bottom: 6px;
}
.boxAnimation::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  border-radius: 0 5px 5px 0;
  /* background-color: #cfa866; */
  background-color: rgb(187, 223, 252);
  animation: move;
  animation-duration: 0.7s;
}

@keyframes move {
  0% {
    left: -100%;
  }

  100% {
    left: 0%;
  }
}

.navbarAnimation {
  animation: close 2s ease-out 0.5;
  transition: all 1s;
}
@keyframes close {
  0% {
    top: -400%;
    opacity: 0;
  }
  100% {
    top: 200%;
    opacity: 1;
  }
}
