.constent2 {
  animation: anime 2s ease-in-out;
  animation-fill-mode: both;
}
@keyframes anime {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.letterAnimation {
  content: " ";
  animation: letter1 2s infinite alternate;
  width: 600px;
  height: 600px;
  /* position: absolute; */
  /* background-color: black; */
  overflow: hidden;
  z-index: 40;
  transform: rotateZ(140deg);
  transition: all 2s ease-in-out;
}
@keyframes letter1 {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
  0% {
    height: 0%;
  }
}
