.constent2 {
  animation: anime 2s ease-in-out;
  animation-fill-mode: both;
}
@keyframes anime {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.letterAnimation {
  /* content: " "; */
  animation: letter1 2s infinite alternate;
  width: 600px;
  height: 600px;
  /* position: absolute; */
  /* background-color: black; */
  overflow: hidden;
  z-index: 40;
  transform: rotateZ(136deg);
  transition: all 2s ease-in-out;
}
@keyframes letter1 {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
  0% {
    height: 0%;
  }
}

.changing-images {
  /* position: absolute;
    right: 0;
    height: 100%;
    width: 100%;
    top: 0;
    transition: all 1s ease;
    height: 100%;
    overflow: hidden;
    opacity: 1;
    transition: all 0.7s ease; */
  /* height: 400px;
    width: 400px; */
  /* width: 446px;
    height: 550px; */
}

.changing-images img {
  position: relative;
  z-index: 3;
  object-fit: contain;
  object-position: center;
  /* object-fit: contain; */
}

.changing-images-2::after,
.changing-images::after {
  content: " ";
  background: #00b7f1;
  width: 1800px;
  height: 1800px;
  transform: skew(-46deg);
  transform-origin: center center;
  position: absolute;
  top: -796px;
  z-index: 0;
  left: 100%;
}

.changing-images::before {
  content: " ";
  background: #0f0e9f;
  width: 922px;
  height: 922px;
  transform: skew(-46deg);
  transform-origin: center center;
  position: absolute;
  bottom: 0;
  z-index: 2;
  right: 0;
  transition: all 0.7s ease;
}

/*!
* animate.css -http://daneden.me/animate
* Version - 3.5.1
* Licensed under the MIT license - http://opensource.org/licenses/MIT
*
* Copyright (c) 2016 Daniel Eden
*/
/*.animatein{ visibility: hidden}
.inview .animatein {
-webkit-animation-duration: 1s;
animation-duration: 1s;
visibility: visible
}
.animated.infinite {
-webkit-animation-iteration-count: infinite;
animation-iteration-count: infinite
}
*/
