@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
@font-face {
  font-family: "BrandingSemibold";
  src: url("/Font/Branding-Semibold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BrandingMedium";
  src: url("/Font/Branding-Medium.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "BrandingBoldHeading";
  src: url("/Font/Branding-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

/* Apply letter spacing */
.font-branding-semibold {
  font-family: "BrandingSemibold", sans-serif;
  letter-spacing: 0.5px;
}

.font-branding-medium {
  font-family: "BrandingMedium", sans-serif;
  letter-spacing: 0.2px;
}
.font-branding-bold {
  font-family: "BrandingBoldHeading", sans-serif;
  letter-spacing: 0.2px;
}

@font-face {
  font-family: "BrandingBold";
  src: url("/Font/Branding-Bold-Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "branding";
  src: url("/nesco-web/public/Font/Branding\ Black.otf") format("opentype");
}

@font-face {
  font-family: "branding-itaic";
  src: url("/nesco-web/public/Font/Branding\ Black\ Italic.otf")
    format("opentype");
}

@font-face {
  font-family: "branding-bold-itaic";
  src: url("/nesco-web/public/Font/Branding\ Bold\ Italic.otf")
    format("opentype");
}

@font-face {
  font-family: "branding-bold";
  src: url("/nesco-web/public/Font/Branding\ Bold.otf") format("opentype");
}

@font-face {
  font-family: "branding-light";
  src: url("/nesco-web/public/Font/Branding\ Light.otf") format("opentype");
}

@font-face {
  font-family: "branding-light-italic";
  src: url("/nesco-web/public/Font/Branding\ Light\ Italic.otf")
    format("opentype");
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif, "branding", "branding-bold",
    "branding-light", "branding-light-italic", "branding-bold-italic",
    "branding-italic";
}

/* mainHome.css */
/* mainHome.css */
.container1 {
  scroll-behavior: smooth;
  /* overflow-y: auto; */
  /* height: 100vh; */
  width: 100%;
  scroll-snap-type: y mandatory;
}

.section {
  scroll-snap-align: start;
  position: relative;
  width: 100%;
  /* min-height: 100vh; */
}

.goal-section {
  height: auto;
}
